h2 {
    font-size: 60px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
}
section {
    width: 70%;
    margin: auto;
}
.welcome {
    display: flex;
    align-items: center;
}
.welcome-text {
    font-weight: 600;
}
.logout {
    display: flex;
    align-items: center;
    margin: 0;
}
.logout_btn {
    background-color: blanchedalmond;
    border: none;
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 20px;
}
.logout_btn:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: gray;
}
.board_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.boardTitle {
    width: 70%;
}
.boardTitle, .writer, .date{
    height: 35px;
    background-color: rgb(241, 239, 237);
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.flexBox {
    display: flex;
}
.writerBox, .dateBox {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 70px;
}
.filebox {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.upload-name {
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
    outline: none;
}
.filebox label {
    display: flex;
    padding: 0 20px;
    color: #fff;
    align-items: center;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    display: none;
}
