<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BOMI">
    <meta name="description" content="스프링 기본 게시판">

    <script src="https://kit.fontawesome.com/8d62fb13e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/boardList.css">
    <title>게시판</title>
</head>

<body>
    <h2>BOM BOARD</h2>
    <section class="welcome">
        <p th:text="|안녕하세요, ${member.memberName}님!|" class="welcome-text">안녕하세요, 회원님!</p>
        <button onclick="location.href='login.html'" th:onclick="|location.href='@{/logout}'|" type="submit" class="logout_btn"> 로그아웃</button>
    </section>

    <section class="board-top">
        <form th:object="${searchCond}" method="get" class="board-form">
            <select name="filter" id="search-filter">
                <option value="title">제목</option>
                <option value="name">작성자</option>
            </select>
            <input type="text" name="word">
            <button type="submit" class="submit_btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <button class="write"><a href="/write" class="write-btn">글쓰기</a></button>
    </section>
    <section class="board_list">
        <div class="board board-name">
            <span class="boardNum">글번호</span>
            <span class="boardTitle">제목</span>
            <span class="boardWriter">작성자</span>
            <span class="boardDate">등록일</span>
        </div>
        <div class="board board-items" th:each="board: ${boardList}">
            <span class="boardNum board_span" th:text="${board.boardNum}">1</span>
            <span class="boardTitle board_span"><a th:href="|/boardDetail/${board.boardNum}|" th:text="${board.boardTitle}">안녕하세요</a>
                <span class="boardRenum" th:if="${board.reples != null}" th:text="${board.reples.size()}">2</span>
            </span>
            <span class="boardWriter board_span" th:text="${board.writer}">보미</span>
            <span class="boardDate board_span" th:text="${board.date}">2022.12.11</span>
        </div>
    </section>


</body>

</html>