<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BOMI">
    <meta name="description" content="스프링 기본 게시판">

    <script src="https://kit.fontawesome.com/8d62fb13e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/boardList.css">
    <title>게시판</title>
</head>

<body>
    <h2>BOM BOARD</h2>
    <section class="welcome">
        <p th:text="|안녕하세요, ${member.memberName}님!|" class="welcome-text">안녕하세요, 회원님!</p>
        <form action="/log-out" method="post" class="logout">
            <button type="submit" class="logout_btn"> 로그아웃</button>
        </form>
    </section>

    <section class="board-top">
        <form action="seach" method="post">
            <select name="filter" id="search-filter">
                <option value="title">제목</option>
                <option value="name">작성자</option>
            </select>
            <input type="text" name="word">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <button><a href="/write">글쓰기</a></button>
    </section>
    <section class="board_list">
        <div class="board">
            <span class="boardNum">글번호</span>
            <span class="boardTitle">제목</span>
            <span class="boardWriter">작성자</span>
            <span class="boardDate">등록일</span>
        </div>
        <div>
            <span class="boardNum">1</span>
            <span class="boardTitle">안녕하세요
                <span class="boardRenum">2</span>
            </span>
            <span class="boardWriter">보미</span>
            <span class="boardDate">2022.12.11</span>
        </div>
    </section>


</body>

</html>