<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BOMI">
    <meta name="description" content="스프링 기본 게시판">

    <script src="https://kit.fontawesome.com/8d62fb13e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/boardDetail.css">
    <title>게시판</title>
</head>

<body>
    <h2>BOM BOARD</h2>
    <section class="welcome">
        <p th:text="|안녕하세요, ${member.memberName}님!|" class="welcome-text">안녕하세요, 회원님!</p>
        <form action="/log-out" method="post" class="logout">
            <button type="submit" class="logout_btn"> 로그아웃</button>
        </form>
    </section>

    <section class="board">
        
    </section>


</body>

</html>