<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BOMI">
    <meta name="description" content="스프링 기본 게시판">

    <script src="https://kit.fontawesome.com/8d62fb13e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/boardDetail.css">
    <script src="/src/boardDetail.js" defer></script>
    <title>게시판</title>
</head>

<body>
    <h2>BOM BOARD</h2>
    <section class="welcome">
        <p th:text="|안녕하세요, ${member.memberName}님!|" class="welcome-text">안녕하세요, 회원님!</p>
        <form action="/log-out" method="post" class="logout">
            <button type="submit" class="logout_btn"> 로그아웃</button>
        </form>
    </section>

    <section class="board">
        <form action="" method="post" class="board_form">
            <input type="hidden" th:value="${board.boardNum}" class="boardNum">
            <label for="boardTitle">제목</label>
            <input type="text" name="boardTitle" id="boardTitle" class="boardTitle" th:value="${board.boardTitle}"
                value="안녕하세요" readonly>
            <div class="flexBox">
                <div class="writerBox">
                    <label for="writer">작성자</label>
                    <input type="text" name="writer" id="writer" value="미역" readonly class="writer"
                        th:value="${board.writer}">
                </div>
                <div class="dateBox">
                    <label for="date">작성일</label>
                    <input type="text" name="date" id="date" readonly class="date" value="2022.12.12"
                        th:value="${board.date}">
                </div>

            </div>
            <label th:if="${board.files != null}" for="files">첨부파일</label>
            <span th:if="${board.files != null}">
                <a th:each="file : ${board.files}" th:href="|/boardDetail/${board.boardNum}/${file.value.getFileId()}|"
                    th:text="${file.value.getUploadFileName()}" class="files">첨부파일1</a>
            </span>


            <label for="content">내용</label>
            <textarea name="content" id="boardContent" cols="30" rows="10" readonly
                th:text="${board.content}">반갑습니다</textarea>

        </form>
        <!-- <form th:action="|/boardDetail/${board.boardNum}/saveRepl|" method="post"> -->
            <div class="repl">
                <div class="reply-list">
                    <div class="reply_items">
                        <!-- js 에서 html 그림 -->
                        <!-- <div th:each="repl : ${board.reples}" class="reply_item">
                            <span th:text="${repl.value.getReWriter()}" class="repl_writer">미역</span>
                            <span th:text="${repl.value.getReContent()}" class="repl_content">저도 반가워염</span>
                            <span th:text="${repl.value.getReDate()}" class="repl_date">2022.12.15</span>
                            <a th:href="|/boardDetail/${board.boardNum}/deleteRe/${repl.value.getReId()}|" class="repl_delete-btn">X</a>
                        </div> -->
                    </div>
                    

                    <div class="reply-write">
                        <input type="text" class="repl_input" name="reContent">
                        <button type="submit" class="submitRepl">댓글달기</button>
                    </div>

                </div>
            </div>
        <!-- </form> -->
        <div class="btns">
            <a th:href="|/update/${board.boardNum}|" th:if="${board.writer==member.memberName}"
                class="write_btn">수정하기</a>
            <a th:href="|/delete/${board.boardNum}|" th:if="${board.writer==member.memberName}"
                class="write_btn">삭제하기</a>
            <a href="/board" class="write_btn">돌아가기</a>
        </div>


    </section>


</body>

</html>