<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BOMI">
    <meta name="description" content="스프링 기본 게시판">

    <script src="https://kit.fontawesome.com/8d62fb13e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/writeForm.css">
    <script src="/src/writeForm.js" defer></script>
    <title>게시판</title>
</head>

<body>
    <h2>BOM BOARD</h2>
    <section>
        <a href="/board" class="goback">돌아가기</a>
    </section>

    <section class="board">
        <form action="/write" method="post" class="board_form" enctype="multipart/form-data">
            <label for="boardTitle">제목</label>
            <input type="text" name="boardTitle" id="boardTitle" class="boardTitle">
            <div class="flexBox">
                <div class="writerBox">
                    <label for="writer">작성자</label>
                    <input type="text" name="writer" id="writer" value="미역" readonly class="writer"
                    th:value="${member.memberName}">
                </div>
                <div class="dateBox">
                    <label for="date">작성일</label>
                    <input type="text" name="date" id="date" readonly class="date" value="2022.12.12"
                    th:value="${date}">
                </div>

            </div>
            <input type="file" id="files" name="files" multiple="multiple">

            <label for="content">내용</label>
            <textarea name="content" id="boardContent" cols="30" rows="10"></textarea>
            <input type="submit" class="write_btn" value="저장" id="write_btn">
        </form>
    </section>


</body>

</html>